<div class="observable-playground">
    <h3>Dump rxJs stuff here.</h3>
    <app-rx-playground></app-rx-playground>
</div>

<div class="search">
    <label for="searchField">Search for movie:</label>
    <input
        type="text"
        id="searchField"
        [formControl]="searchField"
    />
</div>

<div
    class="consumer-container"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="100"
    (scrolled)="loadMore()"
    [alwaysCallback]="true"
>
    <ng-container *ngIf="data$ | async as data">
        <div class="consumer-movie" *ngFor="let movie of data.data">
            <div class="title">[{{movie.Year}}] {{movie.Title}}</div>
            <div class="image">
                <a [href]="getImdbLink(movie.imdbID)" target="_blank">
                    <img class="movie-post" [src]="movie.Poster === 'N/A' ? '/assets/image-placeholder.jpg' : movie.Poster"/>
                </a>
            </div>
        </div>
    </ng-container>
</div>


<div class="loading-container" *ngIf="loading">
    <ng-lottie [options]="loadingOptions"></ng-lottie>
</div>